*{
    margin: 0;
    padding: 0;
}

body{
    background-size: 50%;
    background-position: center; 
    background-color: azure;
    

}

.main{
    margin-left: 42%;
    margin-right: 80%;
 }

 input{
    border-radius: 12%;
 }